﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cpverify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Google Font: Open Sans -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
    <!-- Font Awesome CSS -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Content/css/mvpready-admin.css">
    <link href="~/Content/css/mvpready-flat.css" rel="stylesheet" />
    <!-- <link href="./css/custom.css" rel="stylesheet">-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="http://demo.mvpready.com/admin/favicon.ico">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="account-bg">
    <header class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-cog"></i>
                </button>
                <a href="/Home" class="navbar-brand navbar-brand-img">
                    cpverify
                    @*<img src="./Login · MVP Ready Admin_files/logo.png" alt="MVP Ready">*@
                </a>
            </div> <!-- /.navbar-header -->
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Home</a>
                    </li>
                </ul>
            </nav>
        </div> <!-- /.container -->
    </header>
    <div class="account-wrapper">
        <div class="account-body">
            <h3>welcome back to cpverify</h3>
            <h5>please sign in to get access.</h5>
            <form class="form account-form" >
                <div class="form-group">
                    <label for="login-username" class="placeholder-hidden">Username</label>
                    <input type="text" class="form-control" id="login-username" placeholder="Username" tabindex="1">
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label for="login-password" class="placeholder-hidden">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password" tabindex="2">
                </div> <!-- /.form-group -->
                <div class="form-group clearfix">
                    <div class="pull-left">
                       
                    </div>
                    <div class="pull-right">
                        <small><a href="">Forgot Password?</a></small>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <button id="btnSubmit" type="submit" class="btn btn-primary btn-block btn-lg" tabindex="3">
                        Signin &nbsp; <i class="fa fa-play-circle"></i>
                    </button>
                </div> <!-- /.form-group -->
            </form>

        </div> <!-- /.account-body -->
        <div class="account-footer">
            @*<p>
                Don't have an account? &nbsp;
                <a href="http://demo.mvpready.com/admin/account-signup.html" class="">Create an Account!</a>
            </p>*@
        </div> <!-- /.account-footer -->
    </div> <!-- /.account-wrapper -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Core JS -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="./js/libs/excanvas.compiled.js"></script>
    <![endif]-->
    <!-- App JS -->
    <script src="~/Scripts/mvpready-core.js"></script>
    <script src="~/Scripts/mvpready-admin.js"></script>
    <!-- Plugin JS -->
    <script src="~/Scripts/mvpready-account.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                console.log("In function");
                
                //var inputObj = new Object();
                var uname = $("#login-username").val();
                var passcode = $("#login-password").val();
                //console.log(JSON.stringify(inputObj));
                $.ajax({
                    url: "/Login/AuthenticateLogin?username=" + uname + "&password=" + passcode,
                    async:true,
                    success: function (resp) {
                        console.log(JSON.stringify(resp));
                     
                        if (resp == "SUCCESS")
                        {
                            $(location).attr('href', "/Account/Home/Dashboard");
                            
                        }
                        else
                        {
                            alert(resp);
                        }
                      
                    }
                });
               
            });
        });

    </script>
   
</body>
</html>


