﻿
@{
    ViewBag.Title = "Dashboard";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <div class="portlet">
                    <h4 class="portlet-title">
                        <u>Daily Stats</u>
                    </h4>
                    <div class="portlet-body">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, fugiat, dolores, laborum sit.</p>
                        <hr>

                        <table class="table keyvalue-table">
                            <tbody>
                                <tr>
                                    <td class="kv-key"><i class="fa fa-dollar kv-icon kv-icon-primary"></i> Revenue</td>
                                    <td class="kv-value">$5,367 </td>
                                </tr>
                                <tr>
                                    <td class="kv-key"><i class="fa fa-gift kv-icon kv-icon-secondary"></i> Total Sales</td>
                                    <td class="kv-value">473 </td>
                                </tr>
                                <tr>
                                    <td class="kv-key"><i class="fa fa-exchange kv-icon kv-icon-tertiary"></i>Referrals</td>
                                    <td class="kv-value">78</td>
                                </tr>
                                <tr>
                                    <td class="kv-key"><i class="fa fa-envelope-o kv-icon kv-icon-default"></i> Inquiries</td>
                                    <td class="kv-value">39 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /.portlet-body -->
                </div> <!-- /.portlet -->

            </div> <!-- /.col -->

            <div class="col-md-8 col-sm-7">
                <div class="portlet">
                    <h4 class="portlet-title">
                        <u>Monthly Traffic</u>
                    </h4>

                    <div class="portlet-body">
                        <div id="line-chart" class="chart-holder-300" style="padding: 0px; position: relative;"><canvas class="base" width="750" height="300"></canvas><canvas class="overlay" width="750" height="300" style="position: absolute; left: 0px; top: 0px;"></canvas><div class="tickLabels" style="font-size:smaller"><div class="xAxis x1Axis" style="color:#545454"><div class="tickLabel" style="position:absolute;text-align:center;left:50px;top:285px;width:93px">Feb</div><div class="tickLabel" style="position:absolute;text-align:center;left:176px;top:285px;width:93px">Apr</div><div class="tickLabel" style="position:absolute;text-align:center;left:307px;top:285px;width:93px">Jun</div><div class="tickLabel" style="position:absolute;text-align:center;left:437px;top:285px;width:93px">Aug</div><div class="tickLabel" style="position:absolute;text-align:center;left:567px;top:285px;width:93px">Oct</div><div class="tickLabel" style="position:absolute;text-align:center;left:698px;top:285px;width:93px">Dec</div></div><div class="yAxis y1Axis" style="color:#545454"><div class="tickLabel" style="position:absolute;text-align:right;top:273px;right:725px;width:25px">0</div><div class="tickLabel" style="position:absolute;text-align:right;top:227px;right:725px;width:25px">500</div><div class="tickLabel" style="position:absolute;text-align:right;top:181px;right:725px;width:25px">1000</div><div class="tickLabel" style="position:absolute;text-align:right;top:135px;right:725px;width:25px">1500</div><div class="tickLabel" style="position:absolute;text-align:right;top:89px;right:725px;width:25px">2000</div><div class="tickLabel" style="position:absolute;text-align:right;top:43px;right:725px;width:25px">2500</div><div class="tickLabel" style="position:absolute;text-align:right;top:-3px;right:725px;width:25px">3000</div></div></div><div class="legend"><div style="position: absolute; width: 78px; height: 30px; top: 9px; right: 9px; opacity: 0.85; background-color: rgb(255, 255, 255);"> </div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(215,75,75);overflow:hidden"></div></div></td><td class="legendLabel">Total visitors</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(71,95,119);overflow:hidden"></div></div></td><td class="legendLabel">Total Sales</td></tr></tbody></table></div></div>
                    </div> <!-- /.portlet-body -->
                </div> <!-- /.portlet -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->

     
    </div> <!-- /.container -->
</div> <!-- .content -->

