﻿@{
    ViewBag.Title = "Vendors";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="portlet">
                <h4 class="portlet-title">
                    <u>Vendors</u>
                </h4>
                <div class="portlet-body">
                 </div>
              </div>
        </div>
    </div>
 </div>

