﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Homepage · MVP Ready Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Google Font: Open Sans -->
    
    <link rel="stylesheet" href="~/Content/css/css" />
    <link rel="stylesheet" href="~/Content/css/css(1)" />
    <!-- Font Awesome CSS -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- App CSS -->
    <link href="~/Content/css/mvpready-landing.css" rel="stylesheet" />
    <link href="~/Content/css/mvpready-flat.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <!-- <link href="./css/custom.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="http://demo.mvpready.com/landing/favicon.ico">
</head>
<body class=" ">
    <div id="wrapper">
        <header class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand navbar-brand-img">
                        Cpverify
                        @*<img src="./Homepage · MVP Ready Admin_files/logo.png" alt="MVP Ready">*@
                    </a>

                    @*<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>*@
                </div> <!-- /.navbar-header -->

                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right mainnav-menu">
                        <li class="active">
                            <a href="./Homepage · MVP Ready Admin_files/Homepage · MVP Ready Admin.html">Home</a>
                        </li>
                        <li class="">
                            <a href="http://demo.mvpready.com/landing/page-features.html">Features</a>
                        </li>
                        <li class="">
                            <a href="http://demo.mvpready.com/landing/page-faq.html">FAQ</a>
                        </li>
                        <li class="">
                            <a href="http://demo.mvpready.com/landing/page-pricing.html">Pricing</a>
                        </li>
                        <li class="">
                            <a href="http://demo.mvpready.com/landing/page-contact.html">Contact</a>
                        </li>
                    
                        <li>
                            <a href="~/Account/Login">Login</a>
                        </li>
                    </ul>
                    @*<ul class="nav navbar-nav navbar-social navbar-left">
                        <li>
                            <a href="javascript:;" class="ui-tooltip" title="" data-placement="bottom" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                                <span class="navbar-social-label">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ui-tooltip" title="" data-placement="bottom" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                                <span class="navbar-social-label">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ui-tooltip" title="" data-placement="bottom" data-original-title="Google+">
                                <i class="fa fa-google-plus"></i>
                                <span class="navbar-social-label">Google+</span>
                            </a>
                        </li>
                    </ul>*@
                </nav>
            </div> <!-- /.container -->
        </header>

        @RenderBody()


    </div> <!-- /#wrapper -->
    <footer class="footer">
        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <h4 class="content-title">
                        <span>MVP Ready</span>
                    </h4>
                    Aliquam fringilla, sapien egetferas scelerisque placerat, lorem libero cursus lorem, sed sodales lorem libero eu sapien. Nunc mattis feugiat justo vel faucibus. Nulla consequat feugiat malesuada.
                </div> <!-- /.col -->

                <div class="col-sm-3">
                    <h4 class="content-title">
                        <span>Twitter Feed</span>
                    </h4>
                    <div id="tweets"><ul class="tweetList"><li class="tweet_content item"><p class="tweet_link">No tweets available</p></li></ul></div>
                </div> <!-- /.col -->

                <div class="col-sm-3">
                    <h4 class="content-title">
                        <span>Stay Connected</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nam quae veniam optio sunt exercitationem.</p>
                    <br>
                    <ul class="footer-social-link">
                        <li>
                            <a href="javascript:;" class="ui-tooltip" title="" data-placement="bottom" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ui-tooltip" title="" data-placement="bottom" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ui-tooltip" title="" data-placement="bottom" data-original-title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>

                </div> <!-- /.col -->

                <div class="col-sm-3">

                    <h4 class="content-title">
                        <span>Stay Updated</span>
                    </h4>
                    <p>Get emails about new theme launches &amp;  future updates.</p>
                    <form action="http://demo.mvpready.com/" class="form">

                        <div class="form-group">
                            <!-- <label>Email: <span class="required">*</span></label> -->
                            <input class="form-control" id="newsletter_email" name="newsletter_email" type="text" value="" required="" placeholder="Email Address" vk_1643d="subscribed">
                        </div> <!-- /.form-group -->
                        <div class="form-group">
                            <button class="btn btn-transparent">Subscribe Me</button>
                        </div> <!-- /.form-group -->
                    </form>
                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </footer>
    <footer class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>&copy; @DateTime.Now.Year.ToString(), Cloudmint Technologies</p>
                </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/tweetable.jquery.min.js"></script>

  
    <!--[if lt IE 9]>
    <script src="./js/libs/excanvas.compiled.js"></script>
    <![endif]-->
    <!-- Plugin JS -->
    <script src="~/Scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    
    <!-- App JS -->
    <script src="~/Scripts/mvpready-core.js"></script>
    <script src="~/Scripts/mvpready-landing.js"></script>
  

    <a id="back-to-top" href="http://demo.mvpready.com/landing/index.html#top" style="display: none;"><i class="fa fa-chevron-up"></i></a>
</body>
</html>