﻿

<div class="masthead">

    <div class="container">
        <div style="padding-top:50px;" >
            <div class="row">

                <div class="col-md-6 masthead-text animated fadeInLeftBig">
                    <h1 class="masthead-title">Don't feel limited to color schemes provided.</h1>
                    <p class="masthead-">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <br>
                    <div class="masthead-actions">
                        <a href="http://demo.mvpready.com/landing/page-features.html" class="btn btn-transparent btn-jumbo">
                            Learn More
                        </a>
                        <a href="http://demo.mvpready.com/admin/account-signup.html" class="btn btn-primary btn-jumbo">
                            Create an Account
                        </a>
                    </div> <!-- /.masthead-actions -->
                </div> <!-- /.masthead-text -->
                <div class="col-md-6 masthead-img animated fadeInRightBig">
                    <form class="form masthead-form well">
                        <h3 class="text-center">Start Your Free Trial!</h3>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, earum.</p>
                        <br>
                        <div class="form-group">
                            <!-- <label class="" for="full_name">Full Name</label> -->
                            <input type="text" id="full_name" placeholder="Your Name" class="form-control" vk_1643d="subscribed">
                        </div> <!-- /.form-group -->
                        <div class="form-group">
                            <!-- <label class="" for="email_address">Email Address</label> -->
                            <input type="email" id="email_address" placeholder="Your Email" class="form-control">
                        </div> <!-- /.form-group -->
                        <div class="form-group">
                            <!-- <label class="" for="organization">Organization</label> -->
                            <input type="text" id="organization" placeholder="Organization Name" class="form-control" vk_1643d="subscribed">
                        </div> <!-- /.form-group -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-jumbo btn-block">Get Started Today!</button>
                        </div> <!-- /.form-group -->
                    </form>
                </div> <!-- /.masthead-img -->
            </div> <!-- /.row -->
        </div>
    </div>
</div> <!-- /.masthead -->

<div class="content">
    <div class="container">
        <h4 class="content-title">
            <span>Why Choose MVP Ready?</span>
        </h4>
        <br>
        <div class="row">
            <div class="mini-feature">
                <i class="fa fa-globe mini-feature-icon text-secondary"></i>
                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Wide Browser Support</h5>
                    <p>Our themes are designed to display well on most modern devices, including desktops, tablets, and mobile devices. </p>
                </div>
            </div> <!-- /.mini-feature -->
            <div class="mini-feature">
                <i class="fa fa-dashboard mini-feature-icon text-secondary"></i>
                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Dashboard Layouts</h5>
                    <p>Our themes are designed to display well on most modern devices, including desktops, tablets, and mobile devices. </p>
                </div>
            </div> <!-- /.mini-feature -->
            <div class="mini-feature">
                <i class="fa fa-html5 mini-feature-icon text-secondary"></i>
                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">HTML5 &amp; CSS3</h5>
                    <p>Built using HTML5 and CSS3, our themes can be integrated with multiple platforms including Ruby On Rails, PHP, Django, and many others.</p>
                </div>
            </div> <!-- /.mini-feature -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="mini-feature">
                <i class="fa fa-globe mini-feature-icon text-secondary"></i>
                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Wide Browser Support</h5>
                    <p>Our themes are designed to display well on most modern devices, including desktops, tablets, and mobile devices. </p>
                </div>
            </div> <!-- /.mini-feature -->
            <div class="mini-feature">
                <i class="fa fa-dashboard mini-feature-icon text-secondary"></i>
                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Dashboard Layouts</h5>
                    <p>Our themes are designed to display well on most modern devices, including desktops, tablets, and mobile devices. </p>
                </div>
            </div> <!-- /.mini-feature -->
            <div class="mini-feature">
                <i class="fa fa-html5 mini-feature-icon text-secondary"></i>
                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">HTML5 &amp; CSS3</h5>
                    <p>Built using HTML5 and CSS3, our themes can be integrated with multiple platforms including Ruby On Rails, PHP, Django, and many others.</p>
                </div>
            </div> <!-- /.mini-feature -->
        </div> <!-- /.row -->

        <div class="row-divider"></div> <!-- /.row-divider -->

        <div class="row">
            <div class="col-sm-6 col-sm-push-6">

                <h4 class="content-title">
                    <span>About MVPReady</span>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, autem, quos, dicta, tempora omnis beatae aspernatur repellat aperiam fugit enim animi temporibus magnam tempore quae impedit velit voluptatum consequuntur cupiditate.</p>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="icons-list">
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Custom Header Images
                            </li>
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Unlimited Portfolios &amp; Blogs
                            </li>
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Millions Of Page Combinations
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="icons-list">
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Custom Header Images
                            </li>
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Unlimited Portfolios &amp; Blogs
                            </li>
                            <li>
                                <i class="icon-li fa fa-check text-primary"></i>
                                Millions Of Page Combinations
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <a href="javascript:;" class="btn btn-default">Get MVP Ready Today</a>
                <br><br><br>
            </div> <!-- /.col -->


            <div class="col-sm-6 col-sm-pull-6 text-center">
                <br><br>
                <img src="./Homepage · MVP Ready Admin_files/macbook.png" class="img-responsive" alt="Macbook">

            </div> <!-- /.col -->
        </div> <!-- /.row -->


        <div class="row-divider"></div> <!-- /.row-divider -->

        <div class="row">

            <div class="col-sm-6">
                <h4 class="content-title">
                    <span>Latest News</span>
                </h4>
                <div class="recent-news">

                    <div class="recent-news-item clearfix">
                        <div class="recent-news-item-date">13<span>Jan</span></div>
                        <div class="recent-news-item-description">
                            <h5 class="recent-news-item-title"><a href="http://inovado.mintithemes.com/this-is-a-standard-post/" title="This is a Standard Post">This is a Standard Post</a></h5>
                            <span class="recent-news-item-comments">7 Comments</span>
                            <div class="recent-news-item-excerpt">Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames... <a href="http://inovado.mintithemes.com/this-is-a-standard-post/" class="recent-news-item-more">Read More →</a></div>
                        </div>
                    </div> <!-- /.recent-news-item -->
                    <div class="recent-news-item clearfix">
                        <div class="recent-news-item-date">04<span>Jan</span></div>
                        <div class="recent-news-item-description">
                            <h5 class="recent-news-item-title"><a href="http://inovado.mintithemes.com/this-is-a-standard-post/" title="This is a Standard Post">This is a Standard Post</a></h5>
                            <span class="recent-news-item-comments">2 Comments</span>
                            <div class="recent-news-item-excerpt">Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames... <a href="http://inovado.mintithemes.com/this-is-a-standard-post/" class="recent-news-item-more">Read More →</a></div>
                        </div>
                    </div> <!-- /.recent-news-item -->
                </div> <!-- /.recent-news -->
                <br class="visible-xs">
            </div> <!-- /.col -->

            <div class="col-sm-6">

                <h4 class="content-title">
                    <span>Testimonials</span>
                    <a class="btn btn-default btn-sm carousel-prev" href="http://demo.mvpready.com/landing/index.html#clients-carousel" data-slide="prev">‹</a>
                    <a class="btn btn-default btn-sm carousel-next" href="http://demo.mvpready.com/landing/index.html#clients-carousel" data-slide="next">›</a>
                </h4>
                <div id="clients-carousel" class="carousel slide" data-interval="0">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="testimonial">
                                <p class="testimonial-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sed, nulla, provident porro quaerat aperiam eum tempore fugiat dicta obcaecati itaque adipisci perspiciatis unde voluptatibus architecto vitae reiciendis distinctio incidunt! Tempore quae impedit velit voluptatum consequuntur cupiditate.
                                </p>
                                <div class="testimonials-arrow"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-image"><img alt="" src="./Homepage · MVP Ready Admin_files/avatar-1-lg.jpg"></div>
                                    <div class="testimonial-author-info">
                                        <h5><a href="http://demo.mvpready.com/landing/index.html#">Rod Howard</a></h5> Jumpstart Themes
                                    </div>
                                </div>
                            </div> <!-- /.testimonial -->
                        </div> <!-- /.item -->
                        <div class="item">
                            <div class="testimonial">
                                <p class="testimonial-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, sed, nulla, provident porro quaerat aperiam eum tempore fugiat dicta obcaecati itaque adipisci perspiciatis unde voluptatibus architecto vitae reiciendis distinctio incidunt! Tempore quae impedit velit voluptatum consequuntur cupiditate.
                                </p>
                                <div class="testimonials-arrow"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-image"><img alt="" src="./Homepage · MVP Ready Admin_files/avatar-2-lg.jpg"></div>
                                    <div class="testimonial-author-info">
                                        <h5><a href="http://demo.mvpready.com/landing/index.html#">Nikita Williams</a></h5> Nikita Chanel
                                    </div>
                                </div>
                            </div> <!-- /.testimonial -->
                        </div> <!-- /.item -->
                    </div> <!-- /.carousel-inner -->
                </div> <!-- /.carousel -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->


        <div class="row-divider"></div> <!-- /.row-divider -->

        <div class="carousel-container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="content-title">
                        <span>See Our Clients</span>
                        <a class="btn btn-default btn-sm carousel-prev" href="http://demo.mvpready.com/landing/index.html#" data-slide="prev" style="display: inline-block;">‹</a>
                        <a class="btn btn-default btn-sm carousel-next" href="http://demo.mvpready.com/landing/index.html#" data-slide="next" style="display: inline-block;">›</a>
                    </h4>
                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1140px; height: 100px; margin: 0px; overflow: hidden;">
                        <ul class="clients-list" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3876px; height: 100px;">
                            <li style="width: 208px;">
                                <img src="./Homepage · MVP Ready Admin_files/logo1-grayscale.png" class="img-responsive" alt="Client Logo">
                            </li>
                            <li style="width: 208px;">
                                <img src="./Homepage · MVP Ready Admin_files/logo2-grayscale.png" class="img-responsive" alt="Client Logo">
                            </li>
                            <li style="width: 208px;">
                                <img src="./Homepage · MVP Ready Admin_files/logo3-grayscale.png" class="img-responsive" alt="Client Logo">
                            </li>
                            <li style="width: 208px;">
                                <img src="./Homepage · MVP Ready Admin_files/logo4-grayscale.png" class="img-responsive" alt="Client Logo">
                            </li>
                            <li style="width: 208px;">
                                <img src="./Homepage · MVP Ready Admin_files/logo5-grayscale.png" class="img-responsive" alt="Client Logo">
                            </li>
                            <li style="width: 208px;">
                                <img src="./Homepage · MVP Ready Admin_files/logo6-grayscale.png" class="img-responsive" alt="Client Logo">
                            </li>
                        </ul>
                    </div>


                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.carousel-container -->


    </div> <!-- /.container -->
</div> <!-- /.content -->

