﻿@using Cloudmint.Cpverify.Areas.Account.Models;

@{
    var _info = (LoginInfo)Session["info"];
    ViewBag.username = _info.FULL_NAME;
    ViewBag.clientname = _info.CLIENT_NAME;
}

<!DOCTYPE html>

<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>cpverify | account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Google Font: Open Sans -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
    <!-- Font Awesome CSS -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Content/css/mvpready-admin.css">
    <link href="~/Content/css/mvpready-flat.css" rel="stylesheet" />
    <!-- <link href="./css/custom.css" rel="stylesheet">-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="http://demo.mvpready.com/admin/favicon.ico">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">

    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onunload = function () { void (0) }
    </script>

</head>
<body class=" ">
    <div id="wrapper">
        <header class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-cog"></i>
                    </button>
                    <a href="/Home" class="navbar-brand navbar-brand-img">
                        cpverify
                        @*<img src="./Analytics Dashboard · MVP Ready Admin_files/logo.png" alt="cpv">*@
                    </a>
                </div> <!-- /.navbar-header -->

                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav  navbar-left">
                        <li >
                            <a href="/Account/Home/Dashboard">
                                <i class="fa fa-dashboard"></i>&nbsp;Dashboard
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-table"></i>&nbsp; Manage Tasks
                            </a>
                            <ul class="dropdown-menu " role="menu">
                                <li> <a href="#">Assign Tasks</a></li>
                                <li><a href="#">Reassign the executive</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tasks - Update status</a></li>
                                <li><a href="#">Tasks - Tele Verification</a></li>
                              
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bar-chart-o"></i>&nbsp; Reports
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a href="#">Billing Report</a></li>
                                <li> <a href="#">Executive Report</a></li>
                                <li class="divider"></li>
                                <li> <a href="#">Verification Report</a></li>
                                <li> <a href="#">LOS Report</a></li>
                                <li class="divider"></li>
                                <li> <a href="#">Print TAT</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cogs"></i>&nbsp;Settings
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a href="#">Executives</a></li>
                                <li> <a href="#">Exec Area Mapping</a></li>
                                <li class="divider"></li>
                                <li> <a href="/Account/Settings/Vendors">Vendors</a></li>
                                <li> <a href="#">Products</a></li>
                                <li class="divider"></li>
                                <li> <a href="#">Users</a></li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:;">@ViewBag.clientname</a>
                        </li>
                        <li class="dropdown navbar-profile">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                                <i class="fa fa-user"></i> 
                                <span>
                                    @ViewBag.username
                                </span>
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="http://demo.mvpready.com/admin/page-profile.html">
                                        <i class="fa fa-user"></i>
                                        &nbsp;&nbsp;My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="http://demo.mvpready.com/admin/page-pricing.html">
                                        <i class="fa fa-dollar"></i>
                                        &nbsp;&nbsp;Plans &amp; Billing
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="http://demo.mvpready.com/admin/account-login.html">
                                        <i class="fa fa-sign-out"></i>
                                        &nbsp;&nbsp;Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div> <!-- /.container -->
        </header>

        <div class="mainnav">
            <div class="container">
                <nav class="collapse mainnav-collapse" role="navigation">
                    <span>Hello @ViewBag.username</span>
                   <span class="navbar-right">
                       @DateTime.Now.ToLongDateString()
                   </span>
                  

                </nav>
            </div> <!-- /.container -->
        </div> <!-- /.mainnav -->
        
         @RenderBody()
    </div> <!-- /#wrapper -->
    <footer class="footer">
        <div class="container">
            <p class="pull-left">Copyright &copy; @DateTime.Now.Year Cloudmint Technologies </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Core JS -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="./js/libs/excanvas.compiled.js"></script>
    <![endif]-->
    <!-- App JS -->
    <script src="~/Scripts/mvpready-core.js"></script>
    <script src="~/Scripts/mvpready-admin.js"></script>
    <!-- Plugin JS -->
    <script src="~/Scripts/mvpready-account.js"></script>
    <!--[if lt IE 9]>
    <script src="./js/libs/excanvas.compiled.js"></script>
    <![endif]-->
    <!-- Plugin JS -->
    <script src="./Analytics Dashboard · MVP Ready Admin_files/jquery.flot.js"></script>
    <script src="./Analytics Dashboard · MVP Ready Admin_files/jquery.flot.tooltip.min.js"></script>
    <script src="./Analytics Dashboard · MVP Ready Admin_files/jquery.flot.pie.js"></script>
    <script src="./Analytics Dashboard · MVP Ready Admin_files/jquery.flot.resize.js"></script>
 
    <!-- Plugin JS -->
    <script src="./Analytics Dashboard · MVP Ready Admin_files/line.js"></script>
    <script src="./Analytics Dashboard · MVP Ready Admin_files/pie.js"></script>
    <script src="./Analytics Dashboard · MVP Ready Admin_files/auto.js"></script>

    <a id="back-to-top" href="http://demo.mvpready.com/admin/#top" style="display: none;"><i class="fa fa-chevron-up"></i></a><div id="flotTip" style="display: none; position: absolute; z-index: 100; padding: 0.4em 0.6em; border-top-left-radius: 0.5em; border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em; border-bottom-left-radius: 0.5em; font-size: 0.8em; border: 1px solid rgb(17, 17, 17); background: rgb(255, 255, 255);"></div>
</body>
</html>